body { 
  background: RGB(219,239,158);
  padding: 0.5cm 1cm 1cm 1cm;
  margin: 0cm 0cm 0cm 0cm;
}

body > header > h1 {
  padding: 0cm 0cm 0cm 0cm;
  margin: 0cm 0cm 0.5cm 0cm;
  font-size: 24px;
  color: RGB(85,183,107);
}

nav {
  background: RGB(0,188,123);
  flex: 1 1 auto;
  padding: 0cm 0cm 0cm 0cm;
  margin: 0cm 0.5cm 0cm 0cm;
}

nav > ul > li {
  font-size: 18px;
  color: RGB(255,255,255);
}

article {
  background: RGB(255,255,255);
  flex: 1 1 60%;
  padding: 0cm 0cm 0cm 0cm;
  margin: 0cm 0cm 0cm 0cm;
}

article > header {
  border-style: solid;
  border-width: 2px;
  border-color: RGB(253,227,231);
  padding: 0cm 0cm 0cm 0cm;
  margin: 0.5cm 0.5cm 0.5cm 0.5cm;
}

article > header > h1 {
  padding: 0cm 0cm 0cm 0cm;
  margin: 0.25cm 0.25cm 0.25cm 0.25cm;
  font-size: 24px;
  color: RGB(85,183,107);
}

article > section > p {
  padding: 0cm 0.5cm 0.5cm 0.5cm;
  margin: 0cm 0cm 0cm 0cm;
  color: RGB(182,180,178);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
