body { 
  background: RGB(219,239,158);
}

nav {
  background: RGB(0,188,123);
}

article {
  background: RGB(255,255,255);
}

article > header > h1 {
  border-style: solid;
  border-width: 2px;
  border-color: RGB(253,227,231);
}
